.container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 16px;
}

@media (max-width: 992px) {
  .container {
    padding: 0 8px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row-nowrap {
  flex-wrap: nowrap;
}

.row-gutter {
  gap: 20px;
}

.col {
  flex: 1 0 0%;
}

.col-auto {
  flex: 0 0 0%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-row-gap: 40px;
  column-gap: 50px;
}

.grid-center {
  justify-content: center;
}

.flex-direction {
  flex-direction: column;
}

@media (min-width: 768px) {
  .grid-md-2 {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: center;
    grid-row-gap: 50px;
  }
}

@media (min-width: 992px) {
  .grid-lg-3 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-between;
    grid-row-gap: 100px;
  }

  .grid-lg-stretch {
    justify-content: stretch;
  }
}
