.header-container {
  padding-bottom: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  padding-top: 40px;
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
