@import './fonts.css';
@import './common.css';
@import './grid.css';
@import './btn.css';
@import './typography.css';
@import './accordion.css';
@import './carousel.css';
@import './header.css';
@import './intro.css';
@import './link.css';
@import './card.css';
@import './list.css';
@import './navbar.css';

/* Helpers */
.ml-auto {
  margin-left: auto;
}

.mt-auto {
  margin-top: auto;
}

.d-flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-end {
  justify-content: flex-end;
}

.d-none {
  display: none;
}

@media (min-width: 992px) {
  .d-lg-block {
    display: block;
  }
}

/* Helpers */

/* Section */
.section-header {
  margin-bottom: 100px;
}

.section-title {
  display: flex;
  gap: 10px;
  align-items: center;
  color: #fb0862;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.section-subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}

.section-title:after {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../img/svg/title_4arrow.svg);
  margin-top: 2px;
}

.section-footer {
  padding-top: 100px;
  text-align: right;
}

/* Section */

/* Museum */
.museum {
  padding-top: 130px;
  padding-bottom: 130px;
}

.museum-text {
  max-width: 300px;
}

.museum-text-right {
  max-width: 380px;
}

/* Museum */

/* About */
.about-title {
  color: #fff;
  margin-bottom: 20px;
}

.about-text {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.about-text-right {
  max-width: 380px;
}

/* About */

/* Exhibitions */
.exhibitions {
  padding-top: 130px;
  padding-bottom: 188px;
}

/* Exhibitions */

/* Subscription */
.subscription {
  position: relative;
  height: 443px;
  background-image: url(../img/image-imput-section.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 166px;
  margin-bottom: 130px;
}

@media (max-width: 992px) {
  .subscription {
    height: 320px;
  }
}

@media (max-width: 576px) {
  .subscription {
    height: 240px;
  }
}


.subscription-title {
  position: absolute;
  top: 0;
  color: #fff;
  transform: translateY(-35%);
}

.subscription-input-container {
  display: flex;
  justify-content: center;
}

.subscription-form-control {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #fff;
  background: #000;
  width: 100%;
  max-width: 515px;
}

.subscription-input {
  flex-grow: 1;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  font-family: 'Neue Haas Unica';
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.9px;
  background-color: transparent;
}

.subscription-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.subscription-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  outline: none;
  background-color: transparent;
  padding: 0 20px;
}

/* Subscription */

/* Gallery */
.gallery {
  margin-bottom: 130px;
  margin-top: 130px;
}

/* Gallery */

/* FAQ */
.faq {
  margin-bottom: 130px;
}

/* FAQ */

/* Footer */
.footer {
  padding-bottom: 40px;
}

.footer-row {
  display: flex;
  flex-wrap: nowrap;
}

.footer-logo-mob {
  display: none;
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .footer-row {
    flex-direction: column-reverse;
    gap: 40px;
  }
  .justify-content-end {
    justify-content: space-between;
  }
  .footer-logo-mob {
    display: block;
  }
  .footer-logo {
    display: none;
  }
  .d-flex-column {
    gap: 40px;
  }
}

/* Footer */