h1,
h2,
h3,
h5,
h6 {
  font-weight: 800;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 60px;
  line-height: 0.8;
  letter-spacing: 1.2px;
}

h3 {
  font-size: 24px;
  letter-spacing: 1.2px;
}

h5 {
  font-size: 20px;
  letter-spacing: 1px;
}

a {
  outline: none !important;
}

strong {
  font-weight: 800;
}

em {
  font-style: italic;
}

p {
  line-height: 1.5;
  letter-spacing: 0.8px;
}

.text-red {
  color: #fb0862;
}

.text-white {
  color: #fff;
}

.text-indent {
  text-indent: 30px;
}

.text-muted {
  color: rgba(255, 255, 255, 0.5);
}

.text-md {
  font-weight: 500;
}

.text-underline {
  text-decoration: underline;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lg {
  font-size: 18px;
}
